# Rust
/target
**/target
Cargo.lock

# mdBook output
/book

# Editors
*.geany
.vscode/
.idea/

# OS
.DS_Store

docs/
.hide/
/src/000-Drafts.md
/src/00-Drafts.md
hidden/

# Binary files (can be rebuilt)
vendor/bin/

# Build artifacts
vendor/target/
book/

# But DO commit:
# vendor/plugins/           # Plugin source code
# .cargo/config.toml       # Cargo config

# Temp
/plugins/hxbook-admonishs/
scribbles/
/src/static/img
